@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot%3Fv=4.4.0");
  src: url("../fonts/fontawesome-webfont.eot%3F") format('embedded-opentype'), url("../fonts/fontawesome-webfont.woff2%3Fv=4.4.0.html") format('woff2'), url("../fonts/fontawesome-webfont.woff%3Fv=4.4.0") format('woff'), url("../fonts/fontawesome-webfont.ttf%3Fv=4.4.0") format('truetype'), url("../fonts/fontawesome-webfont.svg%3Fv=4.4.0") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: url('../fonts/Intro.eot');
  src: url('../fonts/Intro.woff2.html') format('woff2'), url('../fonts/Intro.woff') format('woff'), url('../fonts/Intro.ttf') format('truetype'), url('../fonts/Intro.svg') format('svg'), url('../fonts/Intro.eot%3F') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Intro-Inline';
  src: url('../fonts/Intro-Inline.eot');
  src: url('../fonts/Intro-Inline.woff2.html') format('woff2'), url('../fonts/Intro-Inline.woff') format('woff'), url('../fonts/Intro-Inline.ttf') format('truetype'), url('../fonts/Intro-Inline.svg') format('svg'), url('../fonts/Intro-Inline.eot%3F') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'futuraBook';
  src: url('../fonts/FTN45.eot');
  src: url('../fonts/FTN45.eot') format('embedded-opentype'), url('../fonts/FTN45.woff2.html') format('woff2'), url('../fonts/FTN45.woff') format('woff'), url('../fonts/FTN45.ttf') format('truetype'), url('../fonts/FTN45.svg') format('svg');
}
@font-face {
  font-family: 'futuraDemi';
  src: url('../fonts/FTR65.eot');
  src: url('../fonts/FTR65.eot') format('embedded-opentype'), url('../fonts/FTR65.woff2.html') format('woff2'), url('../fonts/FTR65.woff') format('woff'), url('../fonts/FTR65.ttf') format('truetype'), url('../fonts/FTR65.svg') format('svg');
}
@font-face {
  font-family: 'MyriadPro';
  src: url('../fonts/MyriadProRegular.eot');
  src: url('../fonts/MyriadProRegular.eot') format('embedded-opentype'), url('../fonts/MyriadProRegular.woff2.html') format('woff2'), url('../fonts/MyriadProRegular.woff') format('woff'), url('../fonts/MyriadProRegular.ttf') format('truetype'), url('../fonts/MyriadProRegular.svg') format('svg');
}
@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.woff2.html') format('woff2'), url('../fonts/FuturaPT-Book.woff') format('woff'), url('../fonts/FuturaPT-Book.ttf') format('truetype'), url('../fonts/FuturaPT-Book.svg') format('svg'), url('../fonts/FuturaPT-Book.eot%3F') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: normal;
  font-style: normal;
  vertical-align: baseline;
}
body.common-home {
  /*overflow: hidden;*/
  /*width: 1680px;
	display: block;
	margin: 0 auto;*/
  position: relative;
}
section {
  display: block;
}
input,
textarea,
button {
  font-family: 'futuraDemi';
  font-size: 19px;
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  resize: none;
}
/*ol,ul {
}*/
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000;
  font-weight: normal;
  font-family: 'Intro';
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
h1,
h2,
.template-page .template-info .template-description h3 {
  font-family: 'Intro';
  color: #000;
  line-height: normal;
  text-transform: uppercase;
  font-size: 41px;
}
h3 {
  font-family: 'Intro';
  font-size: 22px;
  line-height: normal;
  color: #000;
  text-transform: uppercase;
}
a {
  cursor: pointer;
  text-decoration: none;
  font-family: 'futuraDemi';
  font-size: 18px;
}
p {
  font-family: 'FuturaPT-Book';
  font-size: 18px;
  color: #000;
}
form {
  display: block;
}
div {
  font-family: 'FuturaPT-Book';
}
*:hover,
*:before,
*:after {
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
/* ОБЩИЕ СТИЛИ */
body.view-fullscreen {
  overflow: hidden;
}
.fa {
  display: inline-block;
  font-family: 'FontAwesome';
  text-rendering: auto;
  font-style: normal;
}
.container {
  width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
  display: block;
  position: relative;
}
.big-container {
  width: 100%;
}
.vertical-middle {
  display: inline-block;
  vertical-align: middle;
}
.justify {
  display: block;
  text-align: justify;
}
.justify:after {
  content: "";
  width: 100%;
  height: 0px;
  display: inline-block;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
*::-webkit-input-placeholder {
  color: #fff;
  font-family: 'FuturaPT-Book';
  font-size: 17px;
}
*:-moz-placeholder {
  color: #fff;
  font-family: 'FuturaPT-Book';
  font-size: 17px;
}
*::-moz-placeholder {
  color: #fff;
  font-family: 'FuturaPT-Book';
  font-size: 17px;
}
*:-ms-input-placeholder {
  color: #fff;
  font-family: 'FuturaPT-Book';
  font-size: 17px;
}
.checkbox {
  vertical-align: top;
  margin: 0 3px 0 0;
  width: 17px !important;
  height: 17px;
  opacity: 0;
}
.checkbox:not(checked) {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  -webkit-filter: alpha(opacity=0);
  -moz-filter: alpha(opacity=0);
  -ms-filter: alpha(opacity=0);
  -o-filter: alpha(opacity=0);
  filter: alpha(opacity=0);
}
.checkbox:not(checked).wrong + label:after,
.wrong {
  border-color: #7e1215;
}
.checkbox:not(checked) + label {
  position: relative;
  padding: 5px 0 0 55px;
  font-size: 18px;
  color: #000;
  font-family: 'FuturaPT-Book';
  cursor: pointer;
  line-height: 18px;
  display: inline-block;
}
.checkbox:not(checked) + label a {
  color: #fff;
  text-decoration: none;
  font-family: 'FuturaPT-Book';
  cursor: pointer;
  text-decoration: underline;
}
.checkbox:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 30px;
  height: 27px;
  background: url(../images/hexagon.png) no-repeat left top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 6px;
  padding-top: 5px;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.checkbox:checked + label:after {
  content: '\f00c';
  font: 18px 'FontAwesome';
  cursor: pointer;
  color: #fff;
}
.announcements {
  font-size: 0;
  letter-spacing: 0;
}
.container .rubriс {
  padding: 20px 0;
  margin-bottom: 20px;
}
.container .rubriс,
.container .rubriс > ul {
  width: 100%;
  display: block;
}
.container .rubriс > ul > li {
  list-style: none;
  display: inline-block;
}
.container .rubriс > ul > li:hover > a {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.container .rubriс > ul > li.active > a,
.container .rubriс > ul > li:hover > a {
  color: #7e1215;
}
.container .rubriс > ul > li > a {
  color: #000;
  font-family: "Intro";
  text-transform: uppercase;
  font-size: 20px;
  padding: 0 15px;
  display: inline-block;
}
.announcements .announcement {
  padding: 0 10px;
  width: 50%;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.announcements .announcement > div,
.relative-pages-holder .relative-page > div {
  position: relative;
  font-size: 0;
  letter-spacing: 0;
}
.announcements .announcement > div,
.announcements .announcement > div img,
.announcements .announcement > div > div,
.relative-pages-holder .relative-page > div,
.relative-pages-holder .relative-page > div > div,
.relative-pages-holder .relative-page > div img {
  width: 100%;
}
.announcements .announcement > div > div,
.relative-pages-holder .relative-page > div > div {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  display: block;
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
}
.announcements .announcement:hover > div > div,
.relative-pages-holder .relative-page:hover > div > div {
  opacity: 1;
}
.announcements .announcement > div > div > p,
.relative-pages-holder .relative-page > div > div > p {
  color: #fff;
  font-family: "FuturaPT-Book";
  margin-bottom: 10px;
}
.announcements .announcement h5,
.relative-pages-holder .relative-page h5 {
  margin: 15px 0;
  font-size: 18px;
  color: #000;
}
.announcements .announcement:hover h5,
.relative-pages-holder .relative-page:hover h5 {
  color: #7e1215;
}
.relative-pages-holder .price,
.templates .templates-box .template-item .item-price {
  font-family: "futuraDemi";
  color: #7e1215;
  font-size: 21px;
}
.relative-pages-holder .price {
  margin-top: -10px;
}
.pagination {
  width: 100%;
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 60px;
}
.pagination li {
  display: inline-block;
  padding: 0 15px;
}
.pagination li a,
.pagination li span {
  font-family: "Intro";
  color: #000;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.pagination li.active *,
.pagination li:hover * {
  color: #7e1215;
}
.pages {
  margin-top: 20px;
  /*margin-bottom: 60px;*/
}
.pages img {
  max-width: 100%;
}
.pages p,
.pages img {
  margin: 15px 0;
}
.socseti-holder {
  width: 100%;
  background: #efefef;
  padding: 20px 0;
  border-bottom: 3px #7e1215 solid;
  margin-top: 60px;
  position: relative;
}
.socseti-holder:after,
.socseti-holder:before {
  position: absolute;
  content: "";
  font-size: 0;
  left: 0;
  top: 0;
  height: 3px;
  background: #7e1215;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
}
.socseti-holder:before {
  width: 100%;
}
.socseti-holder:after {
  width: 970px;
  left: 50%;
  margin-left: -485px;
  background-color: #efefef;
}
.socseti-holder h5 {
  width: 100%;
  text-align: center;
  font-family: "Intro";
  text-transform: uppercase;
  color: #7e1215;
  font-size: 30px;
  margin-top: -40px;
  position: relative;
  z-index: 300;
}
.socseti-holder h5 span {
  display: block;
  font-size: 22px;
  margin-top: 5px;
}
.share42init {
  text-align: center;
  margin-top: 20px;
}
.share42init .share42-item {
  margin-right: 15px;
}
.share42init a {
  display: inline-block;
  vertical-align: bottom;
  width: 33px;
  height: 31px;
  padding: 0;
  outline: none;
  background: url(../images/social.png) no-repeat left top;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.share42init a:hover {
  background-position: left -38px;
}
.share42init a.odkl {
  background-position: right top;
}
.share42init a.odkl:hover {
  background-position: right -38px;
}
.share42init a.fb {
  background-position: -49px top;
}
.share42init a.fb:hover {
  background-position: -49px -38px;
}
.share42init a.twi {
  background-position: -96px top;
  width: 42px;
}
.share42init a.twi:hover {
  background-position: -96px -38px;
}
.relative-pages-holder {
  width: 100%;
  padding: 40px 140px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
}
.relative-pages-holder .arrows .owl-controls .owl-nav .owl-prev {
  left: -140px;
}
.relative-pages-holder .arrows .owl-controls .owl-nav .owl-prev:hover {
  left: -150px;
}
.relative-pages-holder .arrows .owl-controls .owl-nav .owl-next {
  right: -140px;
}
.relative-pages-holder .arrows .owl-controls .owl-nav .owl-next:hover {
  right: -150px;
}
.relative-pages-holder h6 {
  text-align: center;
  width: 100%;
  font-family: "Intro";
  font-size: 30px;
  margin-bottom: 25px;
}
.arrows .owl-controls .owl-nav *:hover {
  opacity: 0.7;
}
.arrows .owl-controls .owl-nav .owl-prev,
.arrows .owl-controls .owl-nav .owl-next {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -11px;
  height: 22px;
  width: 117px;
  background: url(../images/slider-arrow.png) no-repeat scroll center top / 100% 100% transparent;
}
.arrows .owl-controls .owl-nav .owl-prev {
  left: 0;
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.arrows .owl-controls .owl-nav .owl-prev:hover {
  left: -10px;
}
.arrows .owl-controls .owl-nav .owl-next:hover {
  right: -10px;
}
.btn {
  padding: 7px 20px 10px;
  font-family: "FuturaPT-Book";
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  cursor: pointer;
}
.btn-red {
  color: #fff;
  background: #7e1215;
}
.btn-red:hover {
  background: #000;
}
.btn-black {
  color: #fff;
  background: #000;
}
.btn-black:hover {
  background: #7e1215;
}
/* HEADER */
header {
  display: block;
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  height: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1px 0;
  position: relative;
  z-index: 100;
  /*background: #fff;*/
  background: rgba(255, 255, 255, 0.9);
}
header:hover {
  background: white;
}
header .container {
  position: relative;
}
.header-logo {
  display: inline-block;
  width: 107px;
  height: 93px;
  margin-top: 2px;
  background: url(../images/header-logo.png) no-repeat top center;
  position: relative;
  z-index: 90;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.header-logo:hover {
  background: url(../images/header-logo.png) no-repeat bottom center;
}
header nav {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  padding: 7px 185px 0 142px;
}
header nav > ul {
  text-align: justify;
  display: block;
  width: 100%;
  position: relative;
}
header nav > ul > li {
  list-style: none;
  display: inline-block;
}
header nav > ul > li > a {
  color: #000;
  font-family: 'futuraDemi';
  font-size: 18px;
  padding: 10px 0;
  display: block;
}
header nav > ul > li.item-1 > a,
header nav > ul > li.item-2 > a,
header nav > ul > li.item-3 > a,
header nav > ul > li.item-4 > a {
  text-transform: uppercase;
  font-family: 'Intro';
  color: #000;
  font-size: 18px;
}
header nav > ul > li.item-1 > a,
header nav > ul > li.item-5 > a {
  padding-left: 0;
}
header nav > ul > li.item-4 > a {
  padding-right: 0;
}
header nav > ul > li:hover > a,
header nav > ul > li.active > a {
  color: #7e1215;
}
header nav > ul > li:last-child > a {
  background-color: #7e1215;
  color: #fff;
  padding: 5px 10px;
  margin-top: 5px;
}
header nav > ul > li:last-child:hover > a {
  background: #000;
}
header .menu-decor-line {
  display: inline-block;
  width: 100%;
  background-color: #000;
  height: 2px;
  position: relative;
}
header nav > ul .menu-decor-line .decor-cursor {
  position: absolute;
  top: -5px;
  left: 67px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7e1215;
  display: none;
}
header nav > ul:hover .menu-decor-line .decor-cursor {
  display: block;
}
header nav > ul:after {
  content: "";
  width: 100%;
  height: 0px;
  display: inline-block;
  margin: 0px !important;
  padding: 0px !important;
  border: 0px !important;
}
.header-contacts {
  position: absolute;
  right: 15px;
  top: 15px;
  color: #000;
  font-family: "futuraDemi";
  text-align: right;
}
.header-contacts a.phone {
  color: #000;
  font-size: 29px;
  font-family: "futuraDemi";
  line-height: 27px;
  text-align: right;
  display: inline-block;
}
.header-contacts a.phone span {
  font-size: 16px;
  display: block;
  line-height: 17px;
}
.header-contacts div.city {
  display: block;
  text-align: right;
  font-weight: bold;
  margin-top: 8px;
}
.header-contacts div.city a {
  color: #000;
  text-decoration: underline;
  cursor: default;
  margin-top: 7px;
}
.header-contacts div.city,
.header-contacts div.city a {
  font-size: 20px;
}
.header-contacts div.city a:after {
  content: "\f0d7";
  display: inline-block;
  margin-left: 5px;
  font-family: 'FontAwesome';
}
/* ОБЩИЕ СТИЛИ ГЛАВНАЯ */
.screen {
  display: block;
  height: 100vh;
  width: 100%;
  position: relative;
  min-height: 800px;
}
.common-home h1,
.common-home h2,
.common-home h3,
.common-home h4,
.common-home h5 {
  font-family: 'Intro';
}
.common-home h1 span,
.common-home h2 span,
.common-home h3 span,
.common-home h4 span,
.common-home h5 span,
.content-about h1 span,
.content-about h2 span,
.content-about h3 span,
.content-about h4 span,
.content-about h5 span {
  font-family: 'Intro-Inline';
}
.next-screen {
  display: block;
  position: absolute;
  bottom: 25px;
  left: 49%;
  width: 30px;
  height: 36px;
  background-position: center top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-color: transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  cursor: pointer;
  z-index: 300;
}
.animated .next-screen:before,
.animated .next-screen:after,
.animated + .screen .next-screen:before,
.animated + .screen .next-screen:after {
  content: "";
  display: block;
  width: 30px;
  height: 29px;
  background: url("../images/next-screen-red.png");
  -webkit-animation: nextscreenbefore 1s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: nextscreenbefore 1s infinite;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes nextscreenbefore {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -5px;
  }
}
@keyframes nextscreenbefore {
  0% {
    margin-top: -5px;
  }
  50% {
    margin-top: 0px;
  }
  100% {
    margin-top: -5px;
  }
}
.animated .next-screen:after,
.animated + .screen .next-screen:after {
  margin-top: -20px;
  -webkit-animation: nextscreenafter 1s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: nextscreenafter 1s infinite;
  /* IE 10+, Fx 29+ */
}
@-webkit-keyframes nextscreenafter {
  0% {
    margin-top: -10px;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: -10px;
  }
}
@keyframes nextscreenafter {
  0% {
    margin-top: -10px;
  }
  50% {
    margin-top: -20px;
  }
  100% {
    margin-top: -10px;
  }
}
.dark .next-screen:before,
.dark .next-screen:after {
  background: url("../images/next-screen-white.png");
}
.left-title {
  left: 8%;
  top: 2%;
}
.right-title {
  right: 8%;
  top: 2%;
}
/* СТИЛИ ГЛАВНОЙ СТРАНИЦЫ */
.about {
  background-image: url(../images/about-title-home.jpg);
  background-size: auto 100%;
  text-align: center;
  color: #fff;
  font-size: 0;
  letter-spacing: 0;
  margin-top: -100px;
  padding-top: 100px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
}
.about video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.about .container {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 100;
  padding-bottom: 240px;
}
.about h1 {
  color: #FFF;
  font-size: 40px;
  font-family: 'Intro';
  margin-bottom: 50px;
}
.about h1 span {
  display: block;
  font-size: 90px;
}
.about p {
  color: #fff;
  margin-bottom: 30px;
  font-size: 22px;
}
.about p:last-child {
  font-size: 36px;
  margin-top: 10px;
  margin-bottom: 0;
}
.about:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.about .fast-menu,
.about .fast-menu ul {
  width: 100%;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.about .fast-menu {
  max-width: 80%;
  position: absolute;
  bottom: 50px;
  left: 10%;
  z-index: 100;
}
.about .fast-menu ul li {
  display: inline-block;
  width: 12%;
  vertical-align: top;
}
.about .fast-menu ul li a {
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: url(../images/fast-menu-item-1.png) no-repeat top center;
  background-size: 100% auto;
  display: block;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  text-align: center;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  font-family: "Intro";
  text-transform: uppercase;
}
.about .fast-menu ul li a img {
  opacity: 0;
  width: 100%;
}
.about .fast-menu ul li a:hover {
  /*background: none !important;*/
}
.about .fast-menu ul li a:hover img {
  opacity: 1;
}
.services {
  font-size: 0;
  letter-spacing: 0;
  position: relative;
}
.services h2 {
  font-size: 90px;
  position: absolute;
}
.services h2 span:first-child {
  color: #7e1215;
  display: block;
  font-size: 40px;
  font-family: 'Intro';
  margin-bottom: -15px;
  margin-left: 5px;
}
.services nav {
  width: 100%;
  font-size: 0;
  letter-spacing: 0;
  display: inline-block;
  vertical-align: middle;
  margin-top: 100px;
}
.services > div {
  margin-top: 0;
}
.services nav > ul,
.services > div > div {
  width: 50%;
  display: inline-block;
  border-top: 3px solid #7e1215;
  text-align: right;
  vertical-align: top;
  margin-bottom: 130px;
  position: relative;
}
.services nav > ul.menu-2,
.services nav > ul.menu-4,
.services div > div.item-2,
.services div > div.item-4 {
  text-align: left;
}
.services nav > ul.menu-3,
.services nav > ul.menu-4,
.services div > div.item-3,
.services div > div.item-4 {
  margin-bottom: 0;
}
.services nav > ul > li {
  display: inline-block;
  width: 650px;
  text-align: left;
  position: relative;
}
/*.services nav > ul > li:before{
	position: absolute;
	top: -65px;
	left: -95px;
	height: 242px;
	width: 242px;
	content: "";
	display: block;
	opacity: 0;
	background: url(/images/services-menu-bg.png) no-repeat;
}
.services nav > ul > li:hover:before{
	opacity: 1;
}*/
.services nav > ul > li a,
.services > div > div h4 {
  color: #000;
}
.services nav > ul > li a:hover {
  color: #7e1215;
}
.services nav > ul > li > a {
  font-size: 50px;
  font-family: 'Intro';
  position: relative;
  padding-top: 20px;
  margin-top: -40px;
  background: #fff;
  padding: 20px;
  padding-bottom: 0;
  margin-left: -45px;
  display: inline-block;
}
.services nav > ul > li > a span {
  position: absolute;
  left: 22px;
  top: 0px;
  font-size: 22px;
}
.services nav > ul > li > ul {
  list-style: disc;
  font-size: 20px;
}
.services nav > ul > li > ul > li > a {
  font-size: 20px;
  text-decoration: underline;
}
.services:before,
.achievements:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.portfolio h2,
.achievements h3 {
  font-size: 90px;
  position: absolute;
  z-index: 200;
  text-align: right;
  /*color: #fff;*/
  color: #7e1215;
}
.portfolio h2 span:first-child {
  color: #000;
  display: block;
  font-size: 40px;
  font-family: 'Intro';
  margin-bottom: -15px;
  margin-left: 5px;
  text-align: right;
}
.portfolio .portfolio-carousel {
  width: 100%;
  height: 100%;
}
.portfolio .portfolio-carousel .items {
  height: 100%;
  position: relative;
}
.portfolio .portfolio-carousel .items img {
  position: absolute;
  bottom: 300px;
  left: 150px;
  /*height: 580px;*/
  /*height: 60%;*/
  width: 43%;
}
.portfolio .portfolio-carousel .items .info {
  position: absolute;
  top: 185px;
  right: 160px;
  width: 41%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
}
.portfolio .portfolio-carousel .items .info h4 {
  font-size: 45px;
}
.portfolio .portfolio-carousel .items .info h5 {
  font-size: 26px;
  margin-top: 22px;
  margin-bottom: 40px;
}
.portfolio .portfolio-carousel .items .info table {
  width: 100%;
}
.portfolio .portfolio-carousel .items .info table tr {
  /*	padding-bottom: 20px;*/
}
.portfolio .portfolio-carousel .items .info table td p {
  font-family: "futuraDemi";
  font-size: 26px;
  line-height: 20px;
  margin-bottom: 40px;
}
.portfolio .portfolio-carousel .items .info table span {
  color: #af0425;
  font-family: "Intro";
  font-size: 56px;
  float: left;
  margin-right: 15px;
}
.portfolio .portfolio-carousel .items .info p.links-portfolio {
  text-align: center;
  margin-top: 20px;
}
/* В зависимости от количества ссылок вставляется класс и применяются стили*/
.portfolio .portfolio-carousel .items .info p.links-portfolio a {
  padding: 15px 20px;
  background: #000;
  color: #fff;
  font-family: "futuraDemi";
  font-size: 20px;
  float: right;
  width: 40%;
}
.portfolio .portfolio-carousel .items .info p.links-portfolio a:hover {
  background: #7e1215;
}
.portfolio .portfolio-carousel .items .info p.links-portfolio a:first-child {
  margin-right: 20px;
  float: left;
}
.portfolio .form-block,
.team .form-block,
.about .form-block {
  width: 100%;
  display: block;
  background: #000;
  position: absolute;
  bottom: 0;
  padding-bottom: 85px;
  font-size: 0;
  letter-spacing: 0;
  font-family: 'futuraDemi';
  z-index: 100;
}
.portfolio .form-block h3,
.team .form-block h3,
.about .form-block h3 {
  color: #fff;
  margin-top: -95px;
  font-size: 45px;
  margin-bottom: 35px;
}
.portfolio .form-block h3 {
  text-align: right;
}
.portfolio .form-block h3 > span,
.team .form-block h3 > span,
.about .form-block h3 > span {
  display: block;
  color: #7e1215;
  font-size: 100px;
  font-family: 'Intro';
  margin-bottom: -25px;
}
.portfolio .form-block input[type="text"],
.team .form-block input[type="text"],
.about .form-block input[type="text"] {
  background: transparent;
  border: none;
  border-bottom: 3px #fff solid;
  padding: 5px 0;
}
.portfolio .form-block input[type="text"],
.portfolio .form-block label,
.team .form-block input[type="text"],
.team .form-block label,
.about .form-block input[type="text"],
.about .form-block label {
  margin-right: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 315px;
  display: inline-block;
  color: #fff;
  vertical-align: top;
}
.portfolio .checkbox:not(checked) + label,
.portfolio .form-block button,
.team .checkbox:not(checked) + label,
.team .form-block button,
.about .form-block button,
.about .checkbox:not(checked) + label {
  margin-left: 30px;
  width: 250px;
}
.portfolio .form-block button,
.team .form-block button,
.about .form-block button {
  width: 230px;
  text-align: center;
  color: #fff;
  background: #7e1215;
  border: 0;
  padding: 10px 0;
  float: right;
  margin-top: -1px;
  cursor: pointer;
}
.portfolio .form-block form .wrong {
  border-color: #000;
}
.portfolio .form-block form .checkbox:not(checked).wrong + label:after {
  background-image: url(../images/hexagon-black.png);
}
.achievements {
  text-align: center;
}
.achievements h3 {
  color: #000;
  text-align: left;
}
/*.achievements h3 span:last-child{
	color: #7e1215;
    display: block;
    font-size: 40px;
    font-family: 'Intro';
    margin-top: -5px;
    text-align: right;
}*/
.achievements ul {
  display: inline-block;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  vertical-align: middle;
  padding-top: 150px;
}
.achievements ul li {
  display: inline-block;
  width: 50%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  vertical-align: top;
  text-align: left;
  margin-bottom: 50px;
}
.achievements ul li.links {
  text-align: center;
}
.achievements ul li span {
  float: left;
  font-size: 100px;
  color: #7e1215;
  font-family: 'Intro';
  margin-right: 25px;
}
.achievements ul li p {
  font-family: "FuturaPT-Book";
  font-size: 24px;
}
.achievements ul li p b {
  display: block;
  font-family: 'Intro';
}
.team .form-block,
.about .form-block {
  background: #000;
  z-index: 110;
}
.about .form-block {
  text-align: left;
}
.about .form-block form {
  display: block;
}
.team .form-block h3,
.about .form-block h3 {
  margin-top: -95px;
  color: #7e1215;
}
.team .form-block h3 > span,
.about .form-block h3 > span {
  color: #fff;
}
.team {
  background: #7e8382;
}
.team > h3 {
  color: #7e1215;
  font-size: 90px;
  position: absolute;
  display: inline-block;
  z-index: 100;
}
.team > h3 > span:first-child {
  position: absolute;
  font-size: 40px;
  left: 4px;
  top: 95px;
  color: #000;
}
.team .form-block button,
.about .form-block button {
  background: #7e1215;
}
.team .team-person {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-bottom: 216px;
}
.team .team-person .itemsvacancies {
  /*width: 100%;*/
  display: inline-block;
  height: 100%;
  text-align: center;
  position: relative;
}
.team .team-person .items img,
.team .team-person .owl-item,
.team .team-person .owl-stage-outer,
.team .team-person .owl-stage {
  height: 100%;
}
.team .team-person .owl-stage .owl-item {
  text-align: center;
}
.team .team-person .items .info {
  position: absolute;
  right: 0;
  top: 10%;
  width: 280px;
  z-index: 100;
  text-align: left;
}
.team .team-person .items .info h4,
.team .team-person .items .info h5 {
  font-family: "Intro";
  font-size: 50px;
  text-transform: uppercase;
}
.team .team-person .items .info h5 {
  text-transform: none;
  font-size: 15px;
  margin-top: 5px;
}
.team .team-person .items .info p {
  color: #fff;
  margin-top: 20px;
}
.team .owl-controls .owl-nav .owl-prev,
.team .owl-controls .owl-nav .owl-next,
.portfolio .owl-controls .owl-nav .owl-prev,
.portfolio .owl-controls .owl-nav .owl-next {
  margin-top: -113px;
}
.team .form-block form .wrong {
  border-color: #7e1215;
}
.team .form-block form .checkbox:not(checked).wrong + label:after {
  background-image: url(../images/hexagon-red.png);
}
.news > h3 {
  color: #000;
  font-size: 90px;
  position: absolute;
  display: inline-block;
  z-index: 100;
  padding-top: 40px;
}
.news > h3 > span:last-child {
  position: absolute;
  font-size: 40px;
  right: 55px;
  top: 0;
  color: #7e1215;
  font-family: "Intro";
}
.news nav {
  padding-top: 117px;
  z-index: 100;
}
.news nav ul {
  width: 100%;
  list-style: none;
}
.news nav ul li {
  display: inline-block;
}
.news nav ul li a {
  font-family: "Intro";
  color: #000;
  font-size: 20px;
  padding: 0 15px;
  text-decoration: underline;
}
.news nav ul li a:first-child {
  margin-left: 0;
}
.news nav ul li:hover a {
  color: #7e1215;
  display: block;
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
.news .news-carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 170px;
  left: 0;
  top: 0;
}
.news .news-carousel .owl-item,
.news .news-carousel .owl-stage-outer,
.news .news-carousel .owl-stage,
.portfolio .portfolio-carousel .owl-item,
.portfolio .portfolio-carousel .owl-stage-outer,
.portfolio .portfolio-carousel .owl-stage {
  height: 100%;
}
.reviews {
  font-size: 0;
  letter-spacing: 0;
  margin-bottom: -295px;
  padding-bottom: 295px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.reviews:before {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.reviews > h3 {
  color: #000;
  font-size: 90px;
  position: absolute;
  display: inline-block;
  z-index: 100;
  padding-top: 40px;
}
.reviews > h3 > span:last-child {
  position: absolute;
  font-size: 40px;
  left: 5px;
  top: 0;
  color: #7e1215;
  font-family: "Intro";
}
.reviews .reviews-carousel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 150px;
}
.reviews .reviews-carousel.owl-loaded,
.reviews .reviews-carousel {
  display: inline-block;
  vertical-align: middle;
}
.reviews .reviews-carousel .items h5 {
  text-transform: none;
  font-family: 'futuraDemi';
  color: #000;
  font-size: 20px;
}
.reviews .reviews-carousel .items p {
  margin: 20px 0;
}
.reviews .reviews-carousel .items a {
  text-decoration: underline;
  color: #7e1215;
}
.reviews .reviews-carousel .item-1 {
  background: url(../images/review-img-1.png) no-repeat left top;
  background-size: auto 100%;
}
.reviews .reviews-carousel .item-2 {
  background: url(../images/review-img-2.png) no-repeat left top;
  background-size: 100% auto;
}
.reviews .next-screen {
  display: none;
}
.navigation-screen {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 50px;
  z-index: 300;
  font-size: 0;
  letter-spacing: 0;
}
.navigation-screen:after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 0;
  vertical-align: middle;
}
.navigation-screen ul {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-left: -40px;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.navigation-screen ul:hover,
.navigation-screen ul.show {
  margin-left: 0;
}
.navigation-screen ul li {
  display: block;
  list-style: none;
  width: 100%;
  background: #d2d2d2;
  padding: 0 9px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.navigation-screen ul li.show-all-menu {
  height: 50px;
  background: #d2d2d2;
  margin-bottom: 20px;
  padding: 15px 10px;
  font-size: 0;
  letter-spacing: 0;
  cursor: pointer;
}
.navigation-screen ul li.show-all-menu span {
  display: block;
  width: 100%;
  height: 4px;
  background: #000;
  margin-bottom: 4px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.navigation-screen ul li.show-all-menu:hover span.move-item {
  margin-left: 5px;
}
.navigation-screen ul li.show-all-menu span:last-child {
  margin-bottom: 0;
}
.navigation-screen ul li a {
  font-size: 0;
  letter-spacing: 0;
  width: 100%;
  min-height: 50px;
  display: block;
  background: url("../images/nav-screen/1.png") no-repeat right center;
  background-size: auto 32px;
}
.navigation-screen ul li.item-1 a {
  background-image: url("../images/nav-screen/2.png");
}
.navigation-screen ul li.item-2 a {
  background-image: url("../images/nav-screen/3.png");
}
.navigation-screen ul li.item-4 a {
  background-image: url("../images/nav-screen/5.png");
}
.navigation-screen ul li.item-3 a {
  background-image: url("../images/nav-screen/7.png");
}
.navigation-screen ul li.item-5 a {
  background-image: url("../images/nav-screen/4.png");
}
.navigation-screen ul li.item-6 a {
  background-image: url("../images/nav-screen/6.png");
}
.navigation-screen ul li.items:hover,
.navigation-screen ul li.items.active {
  /*background-position: left center;*/
  background-color: #7e1215;
}
.navigation-screen ul li:hover a,
.navigation-screen ul li.active a {
  background-position: left center;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
/*.navigation-screen ul:hover li:hover,
.navigation-screen ul.show li:hover,
.navigation-screen ul.show li.active,
.navigation-screen ul:hover li.active {
	background-color: #d2d2d2;
}*/
/* ABOUT */
/*.content-about .about{
	padding-bottom: 230px;
}*/
.content-about .about .form-block {
  padding-bottom: 20px;
}
.content-about .team .team-person {
  padding-bottom: 295px;
}
.content-about .team {
  overflow: hidden;
}
.content-about .team + footer {
  z-index: 200;
  position: relative;
  margin-top: -295px;
}
.services > div > h2 {
  position: relative;
  font-size: 60px;
  text-align: center;
}
.services > div > p {
  margin-bottom: 30px;
}
.services > div > div h4 {
  font-size: 30px;
  margin-top: -30px;
  background: #fff;
}
.services > div > div h4,
.services > div > div p {
  width: 650px;
  display: inline-block;
  padding-right: 75px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  padding-left: 15px;
}
.services div > div.item-1,
.services div > div.item-2 {
  margin-top: 30px;
}
.services div > div.item-2,
.services div > div.item-4 {
  padding-right: 0;
}
.services div > div.item-2 p,
.services div > div.item-4 p,
.services div > div.item-2 h4,
.services div > div.item-4 h4 {
  padding-left: 0;
}
/* TEMPLATES */
.templates {
  font-size: 0;
  letter-spacing: 0;
}
.templates .templates-box,
.templates aside {
  display: inline-block;
  vertical-align: top;
}
.templates aside {
  width: 240px;
}
.templates aside h3 {
  margin-bottom: 5px;
  display: block;
  width: 100%;
  font-family: "Intro";
  text-transform: none;
  font-size: 28px;
  margin-top: 45px;
}
.templates aside h3:first-child {
  margin-top: 0;
}
.templates aside a {
  color: #000;
  text-decoration: none;
  display: inline-block;
  font-family: "FuturaPT-Book";
  font-size: 17px;
  margin-right: 8px;
}
.templates aside a:hover,
.templates aside a.active {
  color: #7e1215;
}
.templates aside a.active {
  font-weight: bold;
}
.main-template {
  background: url(../images/bg-templates.jpg) no-repeat center top;
  padding-top: 100px;
  margin-top: -100px;
}
.main-template .container {
  padding-top: 400px;
}
.main-template h1 {
  font-family: "Intro-Inline";
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50px;
}
.main-template h1 span {
  display: block;
  font-size: 94px;
}
.main-template h1 + p {
  color: white;
  text-align: center;
  position: absolute;
  left: 0;
  top: 230px;
  width: 100%;
  display: block;
}
.templates aside a:last-child:after {
  display: none;
}
.templates .templates-box {
  width: 1010px;
  margin-left: 20px;
}
.templates .templates-box .template-item {
  width: 316px;
  margin: 0 10px;
  margin-bottom: 20px;
  display: inline-block;
  overflow: hidden;
}
.templates .templates-box .template-item .template-image,
.templates .templates-box .template-item .template-image img {
  width: 100%;
  display: block;
  position: relative;
}
.templates .templates-box .template-item .template-image span {
  position: absolute;
  display: block;
  background: rgba(255, 255, 255, 0.5);
  border: 11px solid rgba(255, 255, 255, 0);
  -webkit-box-shadow: inset 0 0 0 1px #000;
  -ms-box-shadow: inset 0 0 0 1px #000;
  -o-box-shadow: inset 0 0 0 1px #000;
  box-shadow: inset 0 0 0 1px #000;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  padding-top: 17%;
  color: #000;
  text-align: center;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
}
.fa-eye:before {
  content: "\f06e";
}
.fa-search-plus:before {
  vertical-align: middle;
  color: #7e1215;
  font-size: 4em;
  margin-left: 20px;
  content: "\f00e";
}
.templates .templates-box .template-item:hover .template-image span {
  opacity: 1;
}
.templates .templates-box .template-item h3 {
  display: block;
  font-size: 16px;
  margin: 15px 0 5px;
}
.templates .templates-box .template-item .item-tags {
  margin-bottom: 5px;
}
.templates .templates-box .template-item span {
  margin: 0 2px;
  color: #000;
  cursor: pointer;
  font-size: 17px;
  font-family: "FuturaPT-Book";
}
.templates .templates-box .template-item span:hover {
  color: #7e1215;
}
.template-page h1 {
  color: #7e1215;
  margin: 25px 0;
}
.template-page .container {
  font-size: 0;
  letter-spacing: 0;
}
.template-page .container .breadcrumbs {
  width: 100%;
  display: block;
  margin: 20px 0;
}
.template-page .container .breadcrumbs li {
  display: inline-block;
  color: #000;
  font-size: 18px;
}
.template-page .container .breadcrumbs li:after {
  content: ">";
  display: inline-block;
  margin: 0 10px;
}
.template-page .container .breadcrumbs li:last-child:after {
  content: "";
}
.template-page .container .breadcrumbs li a {
  color: #000;
}
.template-page .container .template-images-carousel {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px lightgray solid;
}
.template-page .container .template-images-carousel,
.template-page .container .template-miniatures,
.template-page .template-info .template-description {
  width: 880px;
  display: inline-block;
}
.template-page .container .template-images-carousel .items img {
  width: 100%;
}
.template-page .container .template-images-carousel,
.template-page .container .template-aside {
  vertical-align: top;
  display: inline-block;
}
.template-page .template-info .template-description ul {
  font-size: 18px;
  padding-left: 20px;
}
.template-page .template-info .template-description ul,
.template-page .template-info .template-description p {
  margin: 15px 0;
}
.template-page .container .template-aside,
.template-page .template-info aside {
  width: 360px;
  margin-left: 30px;
  font-size: 0;
}
.template-aside div {
  width: 47%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-left: 3%;
  margin-bottom: 3%;
  opacity: 0.5;
  -webkit-transition: all 0.7s;
  -o-transition: all 0.7s;
  transition: all 0.7s;
  cursor: pointer;
  border: 1px lightgray solid;
  overflow: hidden;
  height: 107px;
}
.template-aside div:hover,
.template-aside div.active {
  opacity: 1;
}
.template-aside div img {
  width: 100%;
}
.template-page .template-info {
  width: 100%;
  display: block;
  margin-top: 50px;
}
.template-full {
  position: absolute;
  right: 15px;
  top: 55px;
}
.template-page .template-info aside {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px;
}
.template-page .template-info aside form {
  background: #eeeeee;
  font-size: 18px;
  padding: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.template-page .template-info aside form h5 {
  color: #7e1215;
  font-size: 17px;
}
.template-page .template-info aside form h5 span {
  float: right;
}
.template-page .template-info aside form label {
  display: block;
  width: 100%;
  margin: 10px 0;
  font-family: "FuturaPT-Book";
  position: relative;
}
.template-page .template-info aside form hr {
  width: 100%;
  display: block;
  height: 2px;
  background: #8c8c8c;
  margin: 10px 0;
  border: 0;
}
.template-page .template-info aside form label i {
  position: absolute;
  right: 0;
  bottom: 0;
}
.template-page .template-info aside form label i:before {
  content: "\f00c";
  font-family: "FontAwesome";
  color: #7e1215;
  font-size: 24px;
}
.template-page .template-info aside form label.change-template {
  cursor: pointer;
}
.template-page .template-info aside form label.change-template i {
  bottom: 10px;
}
.template-page .template-info aside form label.change-template i:before {
  border-bottom: 3px #7e1215 solid;
}
.template-page .template-info aside form label input {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.template-page .template-info aside form label input:not(checked) + i:before {
  color: grey;
}
.template-page .template-info aside form label input:checked + i:before {
  color: #7e1215;
}
.template-page .template-info aside form label span {
  display: block;
  font-family: "futuraDemi";
}
.template-page .template-info aside form p {
  display: block;
  width: 100%;
  font-family: "Intro";
  text-transform: uppercase;
  color: #7e1215;
  text-align: center;
  font-size: 20px;
  margin: 20px 0;
}
.template-page .template-info aside form button {
  display: block;
  width: 150px;
  margin: 0 auto;
  padding: 8px 0 10px;
  border: 0;
}
.template-page .template-info aside .how-bay-template {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #7e1215;
  text-decoration: underline;
}
.template-page .template-info aside .how-bay-template,
.template-page .template-info aside .phone-info {
  text-align: center;
  display: block;
  width: 100%;
  font-size: 18px;
}
.template-page .template-info aside .phone-info a {
  font-family: "futuraDemi";
  font-size: 24px;
  color: #7e1215;
  margin-top: 10px;
}
.template-view-online {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 900;
  top: 0;
  left: 0;
}
.template-view-online iframe {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 80px;
}
.template-view-online .float-line {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  background: #f1f1f1;
  border-bottom: 2px solid #424242;
  padding: 5px 15px;
  text-align: center;
}
.template-view-online .float-line .btn-back {
  float: left;
  font-size: 20px;
  margin-top: 20px;
  font-family: "FuturaPT-Book";
}
.template-view-online .float-line .btn-back span {
  text-decoration: underline;
}
.template-view-online .float-line .btn-back:before {
  content: "\f104";
  font-family: "FontAwesome";
  font-size: 22px;
  margin-right: 5px;
}
.template-view-online .float-line .btn-back:hover {
  color: #7e1215;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
.template-view-online .float-line .btn-order {
  float: right;
  margin-top: 15px;
}
.template-view-online .float-line .float-logo {
  background: url(../images/header-logo.png) no-repeat top center;
  background-size: 100% auto;
  width: 80px;
  height: 70px;
  display: inline-block;
}
.template-view-online .float-line p {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-top: 10px;
  margin-left: 10px;
}
.template-view-online .float-line p a {
  color: #7e1215;
}
/* FOOTER */
footer {
  width: 100%;
  background: #000;
  height: 295px;
  font-size: 0;
  letter-spacing: 0;
  margin-top: 70px;
}
.common-home footer {
  margin-top: 0;
}
footer .left,
footer .right {
  width: 50%;
  display: inline-block;
  vertical-align: top;
}
footer .left h5 {
  color: #fff;
  font-size: 28px;
  margin-top: 30px;
  line-height: 40px;
}
footer .left h5 span {
  position: absolute;
  left: 10px;
  top: -50px;
  color: #7e1215;
  font-size: 90px;
  font-family: "Intro";
}
footer .left h5 span.mod {
  top: -70px;
  color: #000;
}
footer .left h5 span.mod:before {
  content: url(../images/raccoon.png);
  position: absolute;
  top: 0;
  left: 90%;
}
footer .left .address {
  color: #fff;
  font-size: 18px;
  font-family: "FuturaPT-Book";
  margin-top: 15px;
}
footer .left p {
  color: #fff;
  margin-top: 5px;
}
footer .left p a {
  color: #fff;
  font-size: 18px;
  font-family: "FuturaPT-Book";
}
footer .socseti {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
}
footer .socseti a {
  margin-right: 15px;
  width: 34px;
  height: 34px;
  display: inline-block;
  position: relative;
}
footer .socseti a.item-1 {
  background: url(../images/footer-vk.png) no-repeat scroll center center / auto auto transparent;
}
footer .socseti a.item-2 {
  background: url(../images/footer-fb.png) no-repeat scroll center center / auto auto transparent;
}
footer .socseti a.item-3 {
  background: url(../images/footer-pin.png) no-repeat scroll center center / auto auto transparent;
}
footer .socseti a.item-4 {
  background: url(../images/footer-inst.png) no-repeat scroll center center / auto auto transparent;
}
footer .socseti a.item-5 {
  background: url(../images/footer-tw.png) no-repeat scroll center center / auto auto transparent;
}
footer .socseti a:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}
footer .copyright p {
  display: block;
  color: #fff;
  font-size: 16px;
  font-family: "FuturaPT-Book";
}
footer .copyright p:last-child {
  margin-top: -5px;
}
footer .right {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 30px;
}
footer .right h5 {
  color: #fff;
  font-family: "Intro";
  font-size: 30px;
  text-align: right;
}
footer .right h5 span {
  color: #7e1215;
  font-family: "Intro";
}
footer .right input[type="text"],
footer .right textarea {
  width: 100%;
  background: #000;
  display: block;
  border: 0;
  border-bottom: 3px #7e1215 solid;
  margin-bottom: 12px;
  color: #fff;
}
footer .right textarea {
  height: 75px;
  background-image: url("../images/textarea-pat-1.png");
  background-position: left top;
  background-size: auto auto;
  background-repeat: repeat;
  background-attachment: scroll;
  background-color: transparent;
  border: 0;
  line-height: 38px;
}
footer .right label {
  color: #fff;
}
footer .right button {
  float: right;
  background: #7e1215;
  border: 0;
  color: #fff;
  width: 200px;
  text-align: center;
  padding: 6px 0;
  margin-top: 7px;
}
footer .right .checkbox:not(checked) + label:after {
  background-image: url(../images/hexagon-red.png);
}
footer form.right .wrong {
  border-color: #fff;
}
footer .right textarea.wrong {
  background-image: url("../images/textarea-pat-white.png");
}
footer form.right .checkbox:not(checked).wrong + label:after {
  background-image: url(../images/hexagon.png);
}
/* MEDIA Главной страницы */
@media (max-width: 1700px) {
  .left-title {
    left: 1.7%;
  }
  .right-title {
    right: 1.7%;
  }
  .news nav {
    padding-top: 82px;
  }
  .about .fast-menu ul li a {
    font-size: 18px;
  }
}
@media (max-width: 1370px) {
  .services nav > ul {
    margin-bottom: 100px;
  }
  .services nav > ul > li {
    width: 460px;
  }
  .services nav > ul > li > a {
    font-size: 34px;
  }
  .services nav > ul > li > a span {
    font-size: 20px;
  }
  .services h2,
  .team > h3,
  .portfolio h2,
  .portfolio .form-block h3 > span,
  .team .form-block h3 > span,
  .reviews > h3,
  .news > h3,
  .portfolio h3,
  .achievements h3 {
    font-size: 70px;
  }
  .portfolio .form-block h3,
  .team .form-block h3 {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: -66px;
  }
  .portfolio .form-block h3 > span,
  .team .form-block h3 > span {
    margin-bottom: -10px;
  }
  .services h2 span:first-child,
  .team > h3 > span:first-child,
  .portfolio h2 span:first-child,
  .reviews > h3 > span:last-child,
  .news > h3 > span:last-child,
  .achievements h3:last-child {
    font-size: 30px;
  }
  .team > h3 > span:first-child {
    top: 73px;
  }
  .news > h3 > span:last-child {
    right: 40px;
  }
  .team .team-person .items .info h4 {
    font-size: 36px;
  }
  .reviews > h3,
  .news > h3 {
    padding-top: 25px;
  }
  .reviews .reviews-carousel {
    margin-top: 40px;
  }
  .about .fast-menu ul li a {
    font-size: 14px;
  }
}
@media (max-width: 1300px) {
  body.common-home {
    overflow: inherit;
  }
  .about .container {
    margin-top: -40px;
  }
  .container {
    width: 970px;
  }
  header nav > ul > li > a {
    position: relative;
    font-size: 16px;
  }
  header nav > ul > li > a > span {
    display: none;
    font-size: 12px;
    position: absolute;
    left: 0;
    top: -3px;
    width: 130px;
  }
  header nav > ul > li:hover > a > span {
    display: block;
  }
  header nav > ul > li.item-4 > a > span {
    font-size: 0;
  }
  header nav > ul > li.item-4 > a > span:before {
    content: "Всего";
    font-size: 12px;
  }
  .about h1 {
    font-size: 38px;
    margin-bottom: 30px;
  }
  .about p {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .about p:last-child {
    font-size: 34px;
  }
  .template-page .container .template-images-carousel,
  .template-page .container .template-miniatures,
  .template-page .template-info .template-description {
    width: 697px;
  }
  .template-page .container .template-aside,
  .template-page .template-info aside {
    width: 269px;
    margin-left: 4px;
  }
}
.main-vacancy {
  background: #fff url(../images/product_manager.jpg) center center no-repeat;
  background-size: cover;
  height: 362px;
  position: relative;
  text-align: center;
  font-family: 'Intro';
}
.main-vacancy h1 {
  position: absolute;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-44%);
  -ms-transform: translateX(-44%);
  transform: translateX(-44%);
  font-size: 86px;
  font-weight: 400;
  text-align: center;
  font-family: 'Intro';
  color: #fff;
  letter-spacing: 2.1px;
}
.main-vacancy .subtitle {
  position: absolute;
  top: 185px;
  left: 50%;
  -webkit-transform: translateX(-46%);
  -ms-transform: translateX(-46%);
  transform: translateX(-46%);
  font-family: 'FuturaDemi';
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 750px;
  height: 65px;
}
.listofvacancies {
  padding: 0px 0 127px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.listofvacancies .block {
  margin-top: 81px;
  margin-bottom: 35px;
  position: relative;
  display: inline-block;
  width: 580px;
  min-height: 178px;
}
.listofvacancies .block:nth-child(odd):after {
  content: url(../images/listofvacancies/cirle.svg);
  position: absolute;
  top: -35px;
  left: -27px;
}
.listofvacancies .block:nth-child(odd):before {
  content: url(../images/listofvacancies/mouse.png);
  position: absolute;
  top: -60px;
  left: 0px;
}
.listofvacancies .block:nth-child(even):after {
  content: url(../images/listofvacancies/poligon.svg);
  position: absolute;
  top: -55px;
  left: -32px;
}
.listofvacancies .block:nth-child(even):before {
  content: url(../images/listofvacancies/boss.png);
  position: absolute;
  top: -60px;
  left: -10px;
}
.listofvacancies .block h2 {
  margin-bottom: 14px;
  font-family: 'Intro';
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
}
.listofvacancies .block p {
  margin-bottom: 63px;
  font-family: 'FuturaPT-Book';
  font-size: 16px;
}
.listofvacancies .block-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 161px;
  height: 48px;
  border: none;
  outline: none;
  background: #a70000;
  color: #fff;
  font-family: 'FuturaDemi';
  font-size: 20px;
  -webkit-box-shadow: 1px 3px 6px 0px rgba(49, 19, 33, 0.5);
  box-shadow: 1px 3px 6px 0px rgba(49, 19, 33, 0.5);
}
.vacancies h1 {
  font-size: 38px;
  color: #a50000;
}
.vacancies h3 {
  font-size: 24px;
  margin-top: 35px;
  margin-bottom: 16px;
}
.vacancies .wrap {
  margin-top: 23px;
  margin-bottom: 42px;
  color: #fff;
}
.vacancies .subtitle {
  margin-top: 23px;
  margin-bottom: 42px;
  background: #000;
  color: #fff;
}
.vacancies table {
  font-family: 'FuturaPT-Book';
  font-size: 16px;
  font-weight: 300;
  line-height: 30px;
}
.vacancies .flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.crossposting {
  margin-top: 52px;
  margin-bottom: 51px;
  background: #a50000;
  height: 172px;
  font-family: 'Intro';
}
.crossposting h3 {
  font-size: 24px;
  line-height: 33.87px;
  color: #fff;
  display: block;
  max-width: 721px;
  text-align: center;
}
.crossposting .title {
  position: relative;
  padding-top: 28px;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.crossposting .title:before {
  content: url(../images/ellipse-l.png);
  position: absolute;
  top: -20px;
  left: -20px;
}
.crossposting .title:after {
  content: url(../images/ellipse-r.png);
  position: absolute;
  bottom: -70px;
  right: -30px;
}
.crossposting .title .socseti {
  margin-top: 28px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.crossposting .title .socseti-item {
  margin-right: 20px;
  width: 29px;
  height: 29px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.crossposting .title .socseti-item:hover {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
}
.feetback {
  margin-bottom: 120px;
}
.feetback h2 {
  margin-bottom: 31px;
  font-size: 38px;
}
.feetback .form-wrapper {
  width: 100%;
  position: relative;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.feetback .form-wrapper:nth-child(3) {
  margin-top: 14px;
}
.feetback .form-btn {
  padding: 18px 69px 17px 85px;
  font-size: 16px;
  font-family: 'futuraDemi';
  background: #a70000;
  border: none;
  outline: none;
  color: #fff;
}
.feetback .form-checkbox {
  width: 300px;
  position: relative;
}
.feetback .form-input {
  display: inline-block;
  outline: none;
  border: none;
}
.feetback .form-input::-webkit-input-placeholder {
  color: #000;
}
.feetback .form-input::-moz-placeholder {
  color: #000;
}
.feetback .form-input:-moz-placeholder {
  color: #000;
}
.feetback .form-input:-ms-input-placeholder {
  color: #000;
}
.feetback .form-input:nth-child(1),
.feetback .form-input:nth-child(2) {
  width: calc(48.8%);
  border-bottom: 5px solid #000;
}
.feetback .form-input:nth-child(2) {
  margin-left: 18px;
}
.feetback .form-input-checkbox {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 50%;
  left: -35px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  outline: none;
  border: none;
}
.feetback .form textarea.form-input {
  position: relative;
  width: 100%;
}
.feetback .form .brder-line {
  position: absolute;
  width: 100%;
  height: 5px;
  background: #000;
  top: 25px;
  left: 0;
}
.feetback .hidden {
  display: none;
}
.feetback .file {
  color: #b31a1a;
  text-decoration: underline;
}
.feetback .hover-effect:hover {
  cursor: pointer;
}
@media (max-width: 1300px) {
  .listofvacancies .block {
    width: 465px;
    min-height: 211px;
  }
}
@media (max-width: 980px) {
  .container {
    width: 100%;
  }
  .listofvacancies .block {
    width: 445px;
    min-height: 251px;
  }
}
@media (max-height: 700) {
  .about h1 span {
    font-size: 80px;
  }
  .about h1 {
    font-size: 34px;
    margin-bottom: 25px;
  }
  .about p {
    margin-bottom: 10px;
  }
  .about p:last-child {
    font-size: 32px;
  }
  .about .container {
    margin-top: -40px;
  }
}
